@font-face {
    font-family: 'Eudoxus Sans';
    src: url('EudoxusSans-ExtraBold.woff2') format('woff2'),
        url('EudoxusSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

