$primary-color:#518581;
$secondary-color:#FFB23F;
$peanut-blue:#e8f0fe;
$black:#151411;
$main-txt:#AFADB5;
$white:#ffffff;
$gray:#F9F9F9;
$light-gray:#f3f3f3;

$header-height:10rem;

$container-width-lg:86.11%;
$container-width-md:90%;
$container-width-sm:94%;

$mobile-width:767px;
$tablet-width:1023px;

$colors: (
     "gray": #F9F9F9, 
     "grey":#AFADB5,
     "orange": #FFB23F, 
     "pink": #fe7e73, 
     "white": #fff, 
     "black": #000, 
     "main": $primary-color, 
     "red": #ff0000, );
$box-shadow:0px 4px 80px rgba(175, 173, 181, 0.2);
