.benefits {
    &__head {
        @include flex(center,space-between);
        @include mobile {
            display: unset;
        }
    }
    &__desc {
        width: 40%;
        @include mobile {
            width: 100%;
            margin-bottom: 3rem;
        }
    }
    &__content {
        grid-template-columns: repeat(3,1fr);
        gap: 3rem;
        @include mobile {
            grid-template-columns: 100%;
            margin-top: 3rem;
        }
    }
    &__card {
        padding: 2.5rem;
        box-shadow: $box-shadow;
        &-icon {
            width: 6.2rem;
            height: 6.2rem;
            border-radius: 50%;
            background-color: $light-gray;
            @include flex(center,center);
        }
        &-title {
            margin: 2.4rem 0rem 2rem;
            font-size: 2.4rem;
        }
    }
}