.cta {
    @include flex(center,space-between);
    gap: 3rem;
    @include mobile {
        flex-direction: column;
        align-items: flex-start;
    }
    &__title {
        font-size: 4.4rem;
        max-width: 40rem;
        @include tablet {
            font-size: 3.2rem;
        }
    }
    .container > &__title {
        max-width: unset;
    }
}