.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: $white;
    height: $header-height;
    transition: height 0.3s ease;
    z-index: 99;
    &.shrink {
        height: $header-height;
        box-shadow: $box-shadow;
    }
}
.nav {
    height: $header-height;
    border-bottom: 1px solid $light-gray;
    &__container {
        @include flex(center,space-between);
        height: 100%;
    }
    &__logo {
        width: 13rem;
    }
    &__menu,
    &__item {
        height: 100%;
        display: flex;
    }
    &__item {
        @include mobile {
            height: unset;
            display: unset;
        }
    }
    &__link {
        color: $black;
        text-transform: capitalize;
        margin: 0rem 3rem;
        @include flexCenter(center);
        border-bottom: 3px solid transparent;
        &:hover {
            color: $primary-color;
        }
        &.active {
            border-bottom: 3px solid $primary-color;
            color: $primary-color;
        }
        @include tablet {
            margin: 0 2.5rem;
        }
        @include mobile {
            display: inline-block;
            height: 7rem;
            line-height: 7rem;
        }
    }
    &__menu {
        @include mobile {
            position: absolute;
            top: $header-height;
            left: 0;
            width: 100%;
            height: calc(100vh - $header-height);
            background-color: $light-gray;
            flex-direction: column;
            max-height: 0;
            overflow: hidden;
            transition: max-height .3s ease-in;
            z-index: 999;
            &.show-menu {
                max-height:38rem;
                transition: max-height .3s ease-in;
            }
        }
    }
    &__btns {
        @include flexCenter(center);
        gap: 2.4rem;
        cursor: pointer;
        &-toggle {
            display: none;
            @include mobile {
                display: block;
            }
        }
        &-cart {
            position: relative;
        }
        &-amount {
            position: absolute;
            top: -.8rem;
            right: -.6rem;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: $primary-color;
            color: $white;
            @include flex(center,center);
            font-size: 1.3rem;
        }
    }
} 