.posts {
    &__container {
        @include flex(flex-end,space-between);
        gap: 5rem;
        padding-bottom: 4rem;
        @include mobile {
            flex-direction: column;
        }
    }
    &__left {
        width: calc(50% - 2.5rem);
        @include mobile {
            width: 100%;
        }
    }
    &__slide {
        padding: 5rem 0 2rem;
        position: relative;
        &-content {
            position: absolute;
            left: 0;
            bottom: 3rem;
            width: 100%;
            padding: 2.6rem;
            color: $white;
        }
        &-title {
            color: $white;
            margin: 1rem 0rem 0.6rem;
        }
        &-subtitle,
        &-desc {
            color: $white;
            opacity: 0.8;
            font-size: 1.8rem;
        }
        &-desc {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        &-img {
            width: 100%;
            height: 50rem;
            object-fit: cover;
            @include tablet {
                height: 36rem;
            }
            @include mobile {
                height: 26rem;
            }
        }
    }
    & .swiper-button-prev,
    & .swiper-button-next {
        width: 5.2rem !important;
        height: 5.2rem !important;
        border-radius: unset;
        background: rgba(21, 20, 17, 0.6);
        top: unset;
        bottom: -4rem;
        margin-bottom: 3.5rem;
        box-shadow: 0px 4px 40px rgb(175 173 181 / 20%);
    }
    & .swiper-button-next {
        right: 0;
        background-color: $primary-color;
    }
    & .swiper-button-prev {
        left: unset;
        right: 5.2rem;
        background-color: $white;
    }
    .swiper-button-prev {
        background-image: url("../../assets/icon/prev-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        @include flex(center,center);
    }
    .swiper-button-next {
        background-image: url("../../assets/icon/next-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        @include flex(center,center);
    }
    .swiper-button-next:after, 
    .swiper-button-prev:after {
        font-size: unset !important;
        color: $white;
    }
    .swiper-button-next:after {
        content: "";
    }
}
.post {
    @include flex(center,"");
    gap: 2.6rem;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
    &__img {
        height: 24rem;
        width: 24rem;
        @include tablet {
            width: 18rem;
            height: 18rem;
        }
        @include mobile {
            width: 11rem;
            height: 11rem;
        }
    }
    &__title {
        margin: 2.1rem 0rem 1.4rem;
        font-size: 2.4rem;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        @include tablet {
            margin: 1rem 0;
        }
    }
    &__desc {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        @include mobile {
            display: none;
        }
    }
    &__body {
        @include flex(center,space-between);
        margin-top: 1.6rem;
    }
    &__box {
        @include flex(center,center);
        gap: 1rem;
    }
    &__avatar {
        width: 2.8rem;
    }
    &__name {
        font-weight: 700;
        color: $black;
        font-size: 1.4rem;
        letter-spacing: -.05rem;
    }
    &__date {
        font-size: 1.4rem;
        letter-spacing: -.05rem;
        @include mobile {
            display: none;
        }
    }
}